/* variables created in the :root ruleset 
are called Global variables: use variables wherever we want in our stylesheet */

:root {
    --activeInputBorder: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --inputErrors: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);
}

body {
    font-family:'Space Grotesk', sans-serif;
    font-size:18px;
    font-weight: 500px;
    margin: 0px;
    padding: 0px;
}

label {
    margin: 2px;
    margin-top: 20px;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--lightGrayishViolet);
    font-size: 20px;
}
input :active {
    border: 5px solid var(--activeInputBorder);
}

::placeholder {
    color: var(--lightGrayishViolet);
}

section {
    display: flex;
}

#parent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

#card-front {
    position: relative;
    top: 175px;
    left: -300px;
    height: 225px;
}

#cardLogo {
    position: absolute;
    top: 200px;
    left: -275px;
    z-index: 1;
}

#cardNum {
    position: absolute;
    top: 325px;
    left: -275px;
    z-index: 1;
}

#cardName {
    position: absolute;
    top: 275px;
    left: -275px;
    z-index: 1;
}

#card-back {
    position: absolute;
    top: 450px;
    left: -225px;
    height: 225px;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    width: 100%;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-aiign: left;
    width: 40%;
    font-family: "Space Grotesk";
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2px;
}

#card-exp-cvc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#card-exp, #card-cvc {
    display: flex;
    flex-direction: column;
    width: 50%;
}

button {
    color: var(--white);
    background-color: var(--veryDarkViolet);
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 25px;
}

#emonth, #edate {
    width: 30%;
}

#cvc {
    width: 90%;
}

